*{
    box-sizing: border-box;
}

.pet-page-container{
    display: grid;
    grid-template-columns: 4fr 3fr;
    height: 95vh;
    width: 80%;
    margin: 31px auto;
    grid-gap: 50px;
}

.pet-container{
    position: relative;
}

.pet-main-container{
    margin: auto;
}

.pet-img{
    max-width: 650px;
    background-color: #ffffffab;
    border-radius: 50%;
    height: 650px;
}

.pet-aside-container{
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

