@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');


body{
    background-image: url('./assets/pets-background.jpg');
    font-family: 'Raleway', sans-serif;
}

.homepage-content-div{
    width: 60%;
    position: absolute;
    bottom: 20%;
    right: 0;
    padding: 10px;
}

.homepage-content-text{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 32px;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    margin-top: 21px;
}

.homepage-input{
    height: 35px;
    width: 190px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.homepage-btn{
    display: block;
    background-color: #D48523;
    margin: 20px auto;
    border-radius: 25px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    width: 224px;
    border: none;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
}

.homepage-btn:hover{
    box-shadow: inset -1px 1px 2px #000, inset 1px -1px 2px #000, 4px 4px 2px rgb(0 0 0 / 20%);
}

.instructions-btn{
    display: block;
    background-color: #D48523;
    margin: 20px auto;
    border-radius: 25px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    width: 224px;
    border: none;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
}

.instructions-btn:hover{
    box-shadow: inset -1px 1px 2px #000, inset 1px -1px 2px #000, 4px 4px 2px rgb(0 0 0 / 20%);
}

.instruction-popup{
    background-color: #fffffff2;
    width: 650px;
    height: 340px;
    box-shadow: inset -1px 1px 2px #000, inset 1px -1px 2px #000, 4px 4px 2px rgb(0 0 0 / 20%);
    border-radius: 20px;
    top: 20%;
    left: 20%;
    position: absolute;
    text-align: left;
}

.hide{
    display: none;
}

.instruction-list{
    padding: 0 40px;
}

.instruction-list > li{
    padding: 10px 0;
}